<!-- <div class="header" >
    <ul class="menu">
     <li>
        <img class="logo" src="https://img2.freepng.es/20180429/rjq/kisspng-cat-logo-brand-art-5ae62dea6dae58.5479482515250344744493.jpg" alt="">
     </li>   
     <a class="nav-link active" aria-current="page"  href="#" [routerLink]="['/']" routerLinkActive="active"> <span  class="bi bi-house"></span> Main/Home</a>
     <li>Opcion 2</li>
     <li>Opcion 3</li>
    </ul>
</div> -->
<nav class="navbar sticky-top navbar-expand-lg bg-light" >
  <div class="container-fluid">
    <img class="logo" src="http://clipart-library.com/images/zTX5nM7ec.png" alt="">
    <a class="navbar-brand" href="#">Hola mi señor {{usuario.user || 'owo' }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo02" >
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
        <!-- navbar-nav justify-content-end flex-grow-1 pe-3 -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  [routerLink]="['/']" > <span  class="bi bi-house"></span> Main/Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"[routerLink]="['/listcom']" routerLinkActive="active"><span class="bi bi-chat-dots-fill"></span> Most Commented</a>
        </li>
        <li *ngIf="!galleta" class="nav-item">
          <a class="nav-link active" aria-current="page"[routerLink]="['/login']" routerLinkActive="active"><span class="bi bi-box-arrow-in-right"></span> Login</a>
        </li>
        <li *ngIf="galleta" class="nav-item">
          
          <a class="nav-link active"  a type="button" aria-current="page"  (click)="logOutt()" ><span class="bi bi-box-arrow-left"></span> Logout</a>
        </li>
        
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>

