<app-header></app-header>
<!-- <div class="grid">
    <app-card  [DataEntrante]="card" *ngFor="let card of cards" ></app-card>
</div>

<div>
    <app-sidebar></app-sidebar>
</div> -->

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <app-card  [DataEntrante]="card" *ngFor="let card of cards" ></app-card>
       
        
      </div>
    </div>
  </div>
  <app-sidebar></app-sidebar>

  
<!-- <div class="d-flex text-muted pt-3">
    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
      <div class="d-flex justify-content-between">
        <strong class="text-gray-dark">Full Name</strong>
        <a href="#">Follow</a>
      </div>
      <span class="d-block">@username</span>
    </div>
  </div> -->